{% extends 'base.html.twig' %}

{% block title %}Edit Spending{% endblock %}

{% block body %}
    <h1>Edit Spending</h1>

    {{ include('spending/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('spending_index') }}">back to list</a>

    {{ include('spending/_delete_form.html.twig') }}
{% endblock %}
