{% extends 'base.html.twig' %}

{% block title %}Spending{% endblock %}

{% block body %}

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text light">{{ campaign.title }}</h1>
                <div class="row center">
                    <h5 class="header col s12 light">- Organisée par : {{ campaign.author }} -</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/assets/images/8.jpg" alt="Titre de la campagne"></div>
    </div>
            <div class="row">
                <div class="col s12 center">
                    <h4>A propos de la campagne</h4>
                </div>
            </div>
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m6 l3 offset-l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">person</i></div>
                        <h3 class="center">23</h3>
                        <p class="light">Participants</p>
                    </div>
                </div>
                <div class="col s12 m6 l3">
                    <div class="icon-block center">
                        <div class="btn-large btn-floating white"><i class="material-icons teal-text">redeem</i></div>
                        <h3 class="center">90 &euro;</h3>
                        <p class="light">euros récoltés</p>
                    </div>
                </div>
            </div>

            <!--   Form Section   -->
            <div class="card">
                <div class="card-content">
                    <div class="row">
                    
                        <form action="{{ path('spending') }}" method="post" id="payment-form">
                            <h5 class="center">Votre identité</h5>
                            <input type='hidden' name='campaign_id' value='{{ campaign.id }}'>
                            <div class="input-field col s12 l6">
                                <input id="email" type="email" name='email' class="validate" required>
                                <label for="email">Votre Email</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="name" type="text" name='name' class="validate" required>
                                <label for="name">Votre Name</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="label" type="text" name='label' class="validate" value="{{ amount_participant|default(NULL) }}" required>
                                <label for="label">Description de votre achat</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <input id="amount" type="number" name='amount' class="validate" value="{{ amount_participant|default(NULL) }}" required>
                                <label for="amount">Valeur de votre achat</label>
                            </div>
                            <div class="clearfix"></div>
                            <div class="input-field">
                                <button class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" name="action">
                                    Rajouter
                                    <i class="material-icons right">euro_symbol</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- List -->
            <div class="row">
                <div class="col s12 center">
                    <h4>Liste des dépenses</h4>
                </div>
                <div class="col s12">
                    <table class="highlight responsive-table">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Nom du particpant </th>
                            <th>Description de l'achat </th>
                            <th>valeur de l'achat </th>
                        </tr>
                        </thead>

                        <tbody>
                    
                        <tr>
                            <td> asse.est@exemple.fr </td>
                            <td> Gorge </td>
                            <td> 100 &euro;</td>
                            <td></td>
                        </tr>
                        {# {% else %}
                            <tr>
                                <td rowspan="3">Pas de participants</td>
                            </tr>
                        {% endfor %} #}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h4 class="header col s12 light">Une campagne pensée pour vous<br>et pour toutes les occasions</h4>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/assets/images/10.jpg" alt="Une campagne pensée pour vous"></div>
    </div>


    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ campaign.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ campaign.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ campaign.content }}</td>
            </tr>
            <tr>
                <th>Goal</th>
                <td>{{ campaign.goal }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ campaign.createdAt ? campaign.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ campaign.updatedAt ? campaign.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('campaign_index') }}">back to list</a> #}

    {# <a href="{{ path('campaign_edit', {'id': campaign.id}) }}">edit</a>

    {{ include('campaign/_delete_form.html.twig') }} #}

{% endblock %}
